<!DOCTYPE html>
<html lang="en">
<head>
    <title>Test</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">

    <style>
        a.current {
            color: red;
        }
        </style>
</head>
    <body>
        <header>
            <h1>Search</h1>
            <form method="get" action="{% url 'search' %}">
                <input type="search">
            </form>
        </header>
        <main>
            {% for product in page_object %}
                <ul>
                    <li> {{ product.title }}</li>
                </ul>
            {% endfor %}

            <p>Current page: <b>{{ page_object.number }}</b></p>

            {% for page_number in page_object.adjusted_elided_pages %}
            {% if page_number == page_object.paginator.ELLIPSIS %}    
                {{page_number}}
            {% else %}
            <a 
                href="?{% if query %}q={{query}}&{% endif %}page={{ page_number }}"
                class="{% if page_number == page_object.number %} current {% endif %}"
            >
                {{page_number}}
            </a>
            {% endif %}
        {% endfor %}
            
        </main>
    </body>
    
    </html>